body{
 background: url(../images/mesa.jpg) no-repeat center;
 background-size:110%;
}
.carta{
    box-shadow: 5px grey;
    border: 1px solid black;
    height: 250px;
    width: 180px;
    border-radius: 8px;
    background-color: antiquewhite;

}
.numero5{
    position:absolute;
    top: 12px;
    left: 12px;
    color: red;
    font-size: 25px;
}

.numero5invert{
    position:absolute;
    top: 215px;
    left: 170px;
    transform: rotate(180deg);
    color: red;
    font-size: 25px;
}
#cinco_corazones>.palo{
    color: red;
    font-size: 55px;
}
#cinco_corazones>#palo1{
    position: absolute;
    top: 50px;
    left: 50px;
}
#cinco_corazones>#palo2{
    position: absolute;
    top: 50px;
    left: 120px;
}
#cinco_corazones>#palo3{
    position: absolute;
    top: 100px;
    left: 85px;
}
#cinco_corazones>#palo4{
    position: absolute;
    top: 150px;
    left: 50px;
}
#cinco_corazones>#palo5{
    position: absolute;
    top: 150px;
    left: 120px;
}
#dos_treboles{
    position: absolute;
    top: 8px;
    left: 200px;
}
.numero2{
    position: absolute;
    top: 10px;
    font-size: 25px;
}
#dos_treboles{
    transform: rotate(-35deg);
    position: absolute;
    top: 150px;
    left: 80px;
}
.numero2invert{
    position:absolute;
    top: 195px;
    left: 160px;
    transform: rotate(180deg);
    font-size: 25px;
}
.palo_treboles{
    font-size: 75px;
}
.palo_treboles>#palo1{
    position: absolute;
    top: 25px;
    left: 65px;
}
.palo_treboles>#palo2{
    position: absolute;
    top: 150px;
    left:65px;
    transform: rotate(180deg);
}