.body1{
	background: url(../images/fondo.jpg) no-repeat ;
	background-size: auto;
}
#noel{
	width: 150px;
	position: absolute;
        left: 0px;
        top: 150px;
	animation-name: noel;
	animation-duration: 8s;
	animation-fill-mode: forwards;
    z-index: 1;
}
@keyframes noel{
    0%{
        position: absolute;
        left: 0px;
        top: 150px;

    }
    40%{
    	position: absolute;
    	left: 700px;
    	top: 150px;
    	transform: rotate3d(1, 2, -1, 192deg);
    }
    60%{
    	position: absolute;
    	left: 500px;
    	top: 250px;
    }
    80%{
    	position: absolute;
    	left: 700px;
    	top: 300px;
    	transform: rotate3d(1, 2, -1, 180deg);
    }
    100%{
    transform: rotate(0deg);
    position: absolute;
    top: 420px;
    left: 350px;
    transform: rotate3d(1, 0, -1, 180deg);
    image-rendering: optimizeSpeed;

    }
}
#noelno{
    position: absolute;
    top: 450px;
    left: 370px;
    height: 75px;
    cursor: pointer;
    border-color: dotted red;
    opacity: 0;
}

#muneco {
    position: absolute;
    top: 650px;
    left: 800px;
    max-height: 20%;
    animation: muneco 8s infinite;
}

@keyframes muneco {
    20% {transform: rotate(-25deg);}
    60% {transform: rotate(25deg);}
    80% {transform: rotate(0deg);}
    85% {transform: rotate(-5deg)}
    90% {transform: rotate(5deg)}
    100% {transform: rotate(0deg)}

}
#estrella {
    position: absolute;
    right: -300px;
    top: 20px;
    max-width: 50px;
    transform: rotate(25deg);
    animation-name: amimestrella;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 0;

}

@keyframes amimestrella {
    10%{visibility: visible;
     position: absolute;
    left: 1000px;
    top: 20px;}
    60% {transform: rotate(-15deg)}
    100% {position: absolute;
    top: 390px;
    left: 390px;}
}

.body2{
    background: url(../images/casa.jpg) no-repeat ;
    background-size: auto;
    width: 150%;
}
#papanoel{
    position: absolute;
    top: 280px;
    left: 250px;
 width: 250px;
}
#boca{
    position: absolute;
    top: 200px;
    left: 200px;
 width: 150px
}
#texto{
    position: absolute;
    top: 220px;
    left: 173px;
    width: 200px;
    text-align: center;
    font-size: 17px;
}
#navidad{
    position: absolute;
    top: 50px;
    left: 500px;
    max-height: 50%;
    animation: navidad 8s infinite;
}

@keyframes muneco {
    20% {transform: rotate(-5deg);}
    60% {transform: rotate(5deg);}
    80% {transform: rotate(0deg);}
    85% {transform: rotate(-5deg)}
    90% {transform: rotate(5deg)}
    100% {transform: rotate(0deg)}

}