.contenedor_grid{
 display: grid;
 grid-template-columns: auto auto auto;
 grid-template-rows: 20px 50px 50px;
}
#elemento1{
 grid-row-start: 1;
 grid-row-end: 1;
 background-color: blue;
}
#elemento2{
	background-color: purple;
	grid-row-start: 1;
	grid-row-end: 1;
}
#elemento3{
	background-color: yellow;
}
#elemento5{
   position: relative;
   top: 0px;
   left: -290px;
   background-color: green;
}